@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=checkbox] {
    accent-color: #1A85C0;
  }
  input::placeholder {
    color: rgb(65 65 65);
    opacity: 1;
  }
  input:-ms-input-placeholder,
  input::-ms-input-placeholder
  { 
    color: rgb(65 65 65);
  }

  textarea:-moz-placeholder, 
textarea::-moz-placeholder, 
textarea:-ms-input-placeholder, 
textarea::-webkit-input-placeholder, 
textarea::placeholder { 
  color: rgb(65 65 65); 
}

    h1 {
      font-weight: 700;
      font-size: 1.875em;
  
    }
    h2 {
      font-weight: 700;
      font-size: 1.4em;
  
    }
    h3 {
      font-weight: 700;
      font-size: 1.25em;
    }
}


