@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=checkbox] {
    accent-color: #1A85C0;
  }
  input::placeholder {
    color: #7F7F7F;
    opacity: 1;
  }
  input:-ms-input-placeholder,
  input::-ms-input-placeholder
  { 
    color: #7F7F7F;
  }

  textarea:-moz-placeholder, 
textarea::-moz-placeholder, 
textarea:-ms-input-placeholder, 
textarea::-webkit-input-placeholder, 
textarea::placeholder { 
  color: #7F7F7F; 
}

    h1 {
      font-weight: 700;
      font-size: 1.875em;
  
    }
    h2 {
      font-weight: 700;
      font-size: 1.4em;
  
    }
    h3 {
      font-weight: 700;
      font-size: 1.25em;
    }
}


@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

